name: CI

on: [pull_request]

jobs:
    ci:
        runs-on: ubuntu-latest
        timeout-minutes: 5
        steps:
            - uses: actions/checkout@v4

            - name: Configure doist package repository
              uses: actions/setup-node@v3
              with:
                  node-version-file: .nvmrc

            - name: Install dependencies
              run: npm ci

            - name: Run CI Check
              run: npm run integrity-checks
