name: CI

on: [pull_request]

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Configure doist package repository
              uses: actions/setup-node@v1
              with:
                  scope: '@doist'
                  registry-url: 'https://npm.pkg.github.com'

            - name: Install dependencies
              run: npm ci
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}

            - name: Run CI Check
              run: npm run ci
